<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forensic Analyst Page</title>
    <link rel="stylesheet" href="static/analyst_styles.css">
</head>
<body>
    
    <header>
        <div class="title-box"><h1 class="page">СТОРІНКА СУДОВОГО АНАЛІТИКА</h1></div>
        <img src="static/rockets.png" alt="Error: image not found" class="main_img">
    </header>

    <main>
        <div class="content">
            <div class="white-box">
                <div class="black-box-crime-category">
                    <div class="crime-category"><a href="https://www.w3schools.com/howto/howto_google_fonts.asp" class="text">НЕПІДТВЕРДЖЕНІ ЗЛОЧИНИ</a></div>
                </div>
                <div class="black-box-all-crimes">
                    <div class="all-crimes"><a href="https://www.w3schools.com/howto/howto_google_fonts.asp" class="text">УСІ ЗЛОЧИНИ</a></div>
                </div>
            </div>
            <div class="black-box-right">
                <h5 class="main-text">Недавні дії:</h5>
                <p class="approve-text">Підтвердження:</p>
                <p class="cancel-text">Відхилення:</p>
                <p class="consideration-text">Потребує розгляду:</p>
            </div>
            <div class="red-box-right">
                <hr width="60%" align="left" padding-left='50px'>
                <p class="case1-text">Діло№38729</p>
                <hr width="60%" align="left" padding-left='50px'>
                <p class="case1-text-more">Ракетний обстріл.<br>Харківська обл.<br>Балістика<br>10 поранених</p>
                <hr width="60%" align="left" padding-left='50px'>
                <div class="third-line"><hr width="60%" align="left" padding-left='50px'></div>
                <p class="case2-text">Діло№38729</p>
                <hr width="60%" align="left" padding-left='50px'>
                <p class="case2-text-more">Ракетний обстріл.<br>Херсонська обл.<br>без інформації<br>без інформації</p>
                <hr width="60%" align="left" padding-left='50px'> 
                <div class="fifth-line"><hr width="60%" align="left" padding-left='50px'></div>
                <p class="case3-text">Діло№38729</p>
                <hr width="60%" align="left" padding-left='50px'>
                <p class="case2-text-more">Ракетний обстріл.<br>Одеська обл.<br>влучання в житловий будинок</p>
                <hr width="60%" align="left" padding-left='50px'>
            </div>
        </div>
    </main>

</body>
</html>
