<!DOCTYPE html>
<html lang="uk">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка Судового Аналітика</title>
    <link rel="stylesheet" href="static/css_forenscic_analyst.css">
</head>
<body>
    <div class="side-image-left"></div>
    <div class="side-image-right"></div>
    
    <div class="container">
        <header>
            <h1>Сторінка Судового Аналітика</h1>
            <div class="subheader">
                <a href="#">Усі злочини</a>
                <p>Непідтверджені злочини</p>
            </div>
        </header>
        
        <section>
            <div class="section-header">Непідтверджені злочини</div>
            
            <div class="crime-section">
                <div class="crime-item">
                    <img src="static/crime1.jpeg" alt="Error: image not found" class="crime-image">
                    <div class="crime-content">
                        <p class="crime-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla est purus, ultrices in porttitor in, accumsan non quam. Nam consectetur porttitor rhoncus. Curabitur eu est et leo feugiat auctor vel quis lorem. Ut et ligula dolor, sit amet consequat lorem.</p>
                        <button class="more-button">⬤</button>
                    </div>
                </div>
                        
                <div class="crime-item">
                    <img src="static/crime2.webp" alt="Error: image not found" class="crime-image">
                    <div class="crime-content">
                        <p class="crime-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla est purus, ultrices in porttitor in, accumsan non quam. Nam consectetur porttitor rhoncus. Curabitur eu est et leo feugiat auctor vel quis lorem. Ut et ligula dolor, sit amet consequat lorem.</p>
                        <button class="more-button">⬤</button>
                    </div>
                </div>
                
                <div class="crime-item">
                    <img src="static/crime3.jpeg" alt="Error: image not found" class="crime-image">
                    <div class="crime-content">
                        <p class="crime-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla est purus, ultrices in porttitor in, accumsan non quam. Nam consectetur porttitor rhoncus. Curabitur eu est et leo feugiat auctor vel quis lorem. Ut et ligula dolor, sit amet consequat lorem.</p>
                        <button class="more-button">⬤</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>
