<!DOCTYPE html>
<html lang="uk">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://use.fontawesome.com/fe459689b4.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сторінка Судового Аналітика</title>
    <link rel="stylesheet" href="static/css_crime_confirmation.css">
</head>
<body>
    <div class="side-image-left"></div>
    <div class="side-image-right"></div>
    
    <div class="container">
        <header>
            <h1>Підтвердження злочинів</h1>
            <!-- <div class="subheader">
                <a href="#">Усі злочини</a>
                <p>Непідтверджені злочини</p>
            </div> -->
        </header>
        
        <div class="container">
          <div class="case-number">Діло №{{ crime['_id'] }}</div>
          {% if crime.image_urls %}
            <div class="image-row">
              {% for img in crime.image_urls %}
                <img src="{{ img }}" alt="Фото" class="thumbnail-image" onclick="showLightbox(this.src)">
              {% endfor %}
            </div>

            <!-- Lightbox container -->
            <div id="lightbox" class="lightbox" onclick="hideLightbox()">
              <img id="lightbox-img" src="" alt="Full Image">
            </div>
          {% endif %}
          <div class="form-container">
            <div class="form-left">
                <div class="form-field">
                    <p><strong>ПІБ заявника:</strong> {{ crime['applicant'] }}</p>
                </div>
            
                <div class="form-field">
                    <p><strong>Контактний номер, тел:</strong> {{ crime['applicant_number'] }}</p>
                </div>

                <div class="form-field">
                  <p><strong>Область:</strong> {{ crime['region'] }}</p>
              </div>
            
                <div class="form-field">
                    <p><strong>Локація:</strong> {{ crime['location'] }}</p>
                </div>
            
                <div class="form-field">
                    <p><strong>Дата:</strong> 
                        {% if crime.date.__class__.__name__ == 'datetime' %}
                            {{ crime.date.strftime('%d.%m.%Y') }}
                        {% else %}
                            {{ crime.date }}
                        {% endif %}
                    </p>
                </div>

                <div class="form-field">
                  <p><strong>Тип зброї:</strong> {{ crime['weapon_type'] }}</p>
                </div>
                
                <div class="form-field">
                  <p><strong>Кількість поранених/жертв:</strong> {{ crime['victims'] }}</p>
              </div>
              
              <div class="form-field">
                  <p><strong>Додаткова інформація про жертв:</strong> {{ crime['vict_info'] }}</p>
              </div>
            </div>

          
            <div class="form-right">
                <div class="form-field">
                    <p><strong>Опис злочину:</strong> {{ crime['description'] }}</p>
                </div>
            </div>
        </div>
            
            <div class="button-container">
              <div class="button-container">
                <form method="POST" action="{{ url_for('confirmation_of_crimes') }}">
                  <button type="submit" name="confirm" class="confirm-button">Підтвердити</button>
              </form>
              
              <form method="POST" action="{{ url_for('confirmation_of_crimes') }}">
                  <button type="submit" name="reject" class="reject-button">Не відповідає дійсності</button>
              </form>
            </div>
          </div>
    </div>

        <script>
          function showLightbox(src) {
            const lightbox = document.getElementById("lightbox");
            const lightboxImg = document.getElementById("lightbox-img");
            lightboxImg.src = src;
            lightbox.style.display = "flex";
          }
        
          function hideLightbox() {
            document.getElementById("lightbox").style.display = "none";
          }
        </script>
</body>
</html>
