<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Зміна паролю</title>
    <link rel="stylesheet" href="static/confirm_password.css">
</head>
<body>
    <div class="container">
        <div class="password-change-form">
            <div class="header">
                <h1>ЗМІНА ПАРОЛЮ</h1>
            </div>
            <div class="content">
                <form method="POST" action="{{ url_for('confirm_password') }}">
                <div class="form-group">
                    <label for="new-password">НОВИЙ ПАРОЛЬ</label>
                    <input type="password" id="new-password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm-password">ПІДТВЕРДИТИ ПАРОЛЬ</label>
                    <input type="password" id="confirm-password" name="confirm_password" required>
                </div>
                <div class="form-action">
                    <button type="submit" class="submit-button">НАДІСЛАТИ ДАНІ</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>