<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Подання інформації про злочин</title>
  <link rel="stylesheet" href="static/report_crime.css">
  <style>
    .file-preview {
      margin-top: 10px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    .file-preview img {
      width: 100px;
      height: auto;
      border-radius: 6px;
      border: 1px solid #ccc;
      object-fit: cover;
    }
  </style>
</head>

<body>
  <div class="form-container">
    <h1 class="header">Подання інформації про злочин</h1>

    <img src="static/report_img1.png" alt="Error: image not found" class="first_img">
    
    <p class="description">При поданні даних про злочин ви підтверджуєте те, що ви відповідальні за вказану інформацію</p>
    <p class="note">* позначені поля, обов'язкові до заповнення</p>
    
    <form method="POST" action="{{ url_for('crime_report') }}" enctype="multipart/form-data">
      <div class="form-field">
        <input type="text" name="applicant" placeholder="Ваше ПІБ" required><span class="required-mark">*</span>
      </div>
      
      <div class="form-field">
        <input type="tel" name="phone" placeholder="Контактний номер тел." required><span class="required-mark">*</span>
      </div>

      <!-- <div class="form-field"><div class="filter-section"><div class="oblast">
        <select name="region">
            <option value="">Область</option>
            <option>Вінницька</option>
            <option>Волинська</option>
            <option>Дніпропетровська</option>
            <option>Донецька</option>
            <option>Житомирська</option>
            <option>Закарпатська</option>
            <option>Запорізька</option>
            <option>Івано-Франківська</option>
            <option>Київська</option>
            <option>Кіровоградська</option>
            <option>Луганська</option>
            <option>Львівська</option>
            <option>Миколаївська</option>
            <option>Одеська</option>
            <option>Полтавська</option>
            <option>Рівненська</option>
            <option>Сумська</option>
            <option>Тернопільська</option>
            <option>Харківська</option>
            <option>Херсонська</option>
            <option>Хмельницька</option>
            <option>Черкаська</option>
            <option>Чернівецька</option>
            <option>Чернігівська</option>
        </select></div></div></div><span class="required-mark">*</span> -->

        <div class="form-field"><div class="filter-section"><div class="oblast">
        <select name="region" required>
          <option value="" disabled selected>Область</option>
          <option value="Вінницька">Вінницька</option>
          <option value="Волинська">Волинська</option>
          <option value="Дніпропетровська">Дніпропетровська</option>
          <option value="Донецька">Донецька</option>
          <option value="Житомирська">Житомирська</option>
          <option value="Закарпатська">Закарпатська</option>
          <option value="Запорізька">Запорізька</option>
          <option value="Івано-Франківська">Івано-Франківська</option>
          <option value="Київська">Київська</option>
          <option value="Кіровоградська">Кіровоградська</option>
          <option value="Луганська">Луганська</option>
          <option value="Львівська">Львівська</option>
          <option value="Миколаївська">Миколаївська</option>
          <option value="Одеська">Одеська</option>
          <option value="Полтавська">Полтавська</option>
          <option value="Рівненська">Рівненська</option>
          <option value="Сумська">Сумська</option>
          <option value="Тернопільська">Тернопільська</option>
          <option value="Харківська">Харківська</option>
          <option value="Херсонська">Херсонська</option>
          <option value="Хмельницька">Хмельницька</option>
          <option value="Черкаська">Черкаська</option>
          <option value="Чернівецька">Чернівецька</option>
      </select><span class="required-mark">*</span></div></div></div>

        <div class="form-field">
          <input type="text" name="location" placeholder="Населений пункт" required><span class="required-mark">*</span>
        </div>
      
      <div class="form-field">
        <input type="date" name="date" placeholder="Дата" required><span class="required-mark">*</span>
      </div>
      
      <div class="form-field">
        <textarea name="description" placeholder="Опис злочину"  rows="5" required></textarea><span class="required-mark">*</span>
      </div>
      
      <div class="form-field">
        <p>Прикріплені файли<span class="required-mark">*</span></p>
        <input type="file" id="fileInput" name="files" multiple accept="image/*" style="display: none;" onchange="validateFiles()">
          <div class="file-upload-container">
            <div class="file-upload" onclick="document.getElementById('fileInput').click()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/>
              </svg>
          </div>
          <div class="file-upload" onclick="document.getElementById('fileInput').click()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/>
              </svg>
          </div>
          <div class="file-upload" onclick="document.getElementById('fileInput').click()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM14 13v4h-4v-4H7l5-5 5 5h-3z"/>
              </svg>
          </div>
        </div>
        <div id="fileList" class="file-preview"></div>
      </div>
      
      <div class="form-field"><div class="filter-section"><div class="weapon_cl">
        <select name="weapon" required>
          <option value="" disabled selected>Оберіть зброю</option>
          <option value="Шахед-136">Шахед-136</option>
          <option value="Кинджал">Кинджал</option>
          <option value="Іскандер">Іскандер</option>
          <option value="Калібр">Калібр</option>
          <option value="С-300">С-300</option>
          <option value="С-400">С-400</option>
          <option value="Х-101">Х-101</option>
          <option value="Х-55">Х-55</option>
          <option value="Торнадо">Торнадо</option>
          <option value='Ракета "Оса"'> Ракета "Оса"</option>
          <option value="Crimson">Crimson</option>
          <option value="Штурм-СМ">Штурм-СМ</option>
          <option value="-">-</option>
        </select>
      </div></div></div>
        <!-- <input type="text" name="weapon" placeholder="Тип зброї, якою був вчинений злочин (якщо відомо)"> -->
      
      <div class="form-field">
        <input type="number" name="victims" placeholder="Кількість поранених, жертв">
      </div>
      
      <div class="form-field">
        <input type="text" name="vict_info" placeholder="ПІБ, вік поранених та жертв">
      </div>
      
      <button type="submit" class="submit-button">Подати інформацію</button>
    </form>
  </div>

  <div class="red-container">
    <img src="static/report_img2.png" alt="Error: image not found" class="second_img">
  </div>
</body>
</html>

<script>
  function validateFiles() {
    const input = document.getElementById('fileInput');
    const fileList = document.getElementById('fileList');
    fileList.innerHTML = '';

    if (input.files.length !== 3) {
      alert("Потрібно вибрати рівно 3 фотографії.");
      input.value = '';
      return;
    }

    Array.from(input.files).forEach(file => {
      const reader = new FileReader();
      reader.onload = function (e) {
        const img = document.createElement('img');
        img.src = e.target.result;
        fileList.appendChild(img);
      };
      reader.readAsDataURL(file);
    });
  }
</script>