<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404: Not Found</title>
    <link rel="stylesheet" href="static/not_found.css">
</head>
<body>

    <div class="section">
        <h1 class="text-404">404</h1>
    </div>
    <div class="section">
        <h1 class="text-page">Сторінка</h1>
    </div>
    <div class="section">
        <h1 class="text-not">не</h1>
    </div>
    <div class="section">
        <h1 class="text-found">знайдена</h1>
    </div>

</body>
</html>
