<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Забули пароль?</title>
    <link rel="stylesheet" href="static/forgotten_password.css">
</head>
<body>
    <div class="container">
        <div class="password-reset-form">
            <div class="header">
                <h1>ЗАБУВ ПАРОЛЬ?</h1>
            </div>
            <div class="content">
                <p class="instructions">
                    Щоб отримати дані для відновлення паролю, вкажіть адресу електронної пошти, яку ви використовували для підтвердження під час реєстрації.                </p>
                    <form method="POST" action="{{ url_for('forgotten_password') }}">
                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <!-- <input type="email" id="email" name="email" required> -->
                            <input type="email" id="email" name="email" required value="{{ form_data.get('email', '') }}">
                        </div>
                        <div class="form-action">
                            <button type="submit" class="submit-button">НАДІСЛАТИ ДАНІ</button>
                        </div>
                    </form>
                    <form method="POST" action="{{ url_for('forgotten_password') }}">
                        <div class="form-group">
                            <label for="code">ВВЕДІТЬ КОД</label>
                            <!-- <input type="text" id="code" name="code" required> -->
                            <input type="text" id="code" name="code" required value="{{ form_data.get('code', '') }}">
                        </div>
                        <div class="form-action">
                            <button type="submit" class="confirm-button">ПІДТВЕРДИТИ</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</body>
</html>