<!DOCTYPE html>
<html lang="uk">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>War crimes</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <header>
        <div class="navigation">
            <h1>SVI.DOC</h1>
            <div class="nav-links">
                <div class="left-links">
                    <a href="#fund-main" class="action-button">Здійсни донат</a>
                    <a href="{{ url_for('crimes') }}" class="action-button">Воєнні злочини</a>
                </div>                
                <div class="right-links">
                    <a href="{{ url_for('login') }}" class="action-button">Увійти</a>
            </div>
        </div>
    </header>

    <main>
        
        <div class="start">
            <img src="static/hero_ukraine.png" alt="Error: image not found">
            <p>ВОЄННІ ЗЛОЧИНИ РОСІЇ</p>
        </div>

        <div class="air_raid_alert">
            <h1>Повітряна тривога!</h1>
            <p>Чи наважилися б ви почути, як зараз звучать сирени в Україні?</p>
            <p>Відчуйте хоча б 1% того відчаю, через який щодня проходять українці, коли чують цей звук. Після цих моментів вони знають, що наближається руйнування і смерть.</p>
            <p>У реальному житті українці не можуть просто вимкнути цей звук. Це може коштувати їм життя.</p>
            <div class="buttons">
                <button class="action-button" id="playButton">Почути звук війни</button>
                <audio id="music" src="static/music.mp3"></audio>
                <script>
                    document.getElementById("playButton").addEventListener("click", function () {
                        let audio = document.getElementById("music");
                        if (audio.paused) {
                            audio.play();
                        } else {
                            audio.pause();
                            audio.currentTime = 0;
                        }
                    });
                </script>
                <button class="action-button">Залишитися у тишині</button>
            </div>
        </div>
        
        <div class="rules">
            <img src="static/war_rules.png" alt="Error: image not found">
            <h1>Правила війни</h1>
            <p>Правила війни — це сукупність міжнародних норм і принципів, які регулюють поводження з цивільними особами, пораненими й полоненими під час збройних конфліктів, а також забороняють невибіркові атаки та воєнні злочини. Ці правила були створені для гуманізації воєн і захисту прав людини.</p>
            <h6>З 2014 року росія систематично порушує ці норми в Україні.</h6>
        </div>

        <div class="map">
            <img src="static/map.png" alt="Error: image not found">
            <h1>Пам’ятай та шануй</h1>
        </div>

        <div class="heroes">
            <div class="scrolling-text">
                АБДУСАЛЯМОВ Рустам Самігулайович (11.10.1977-01.07.2023) .
                АНДРУЩЕНКО Ігор Олександрович (03.05.1988-21.08.2022)
                АРМАШ Сергій Іванович (21.10.1990-19.04.2024)
                АФАНАСЕНКО Костянтин Євгенович (29.04.1989-25.03.2023)
                БАБЕНКО Олег Сергійович (10.06.1994-28.12.2022)
                БАБИЧ Олег Миколайович (1998-26.03.2022)
                БАКРЕВ Юрій Васильович (26.01.1982-05.11.2023)
                БАНДУРКО Валерій Анатолійович (27.02.1986-30.01.2024)
                БАРАБАШ Роман Миколайович (16.02.1979-14.07.2022)
                БАРДІН Максим  Володимирович (26.04.1994-17.07.2023)
                БАРИЛО Валентин Володимирович (1975-31.07.2023)
                БЕЗДУДНИЙ Владислав Віталійович (16.09.1996-30.08.2023)
                БЕЗНІС Валерій Юрійович  (09.11.1987-30.09.2022) .
                БЕРЕЖНИЙ Вячеслав Миколайович (19.04.1977 - 09.05.2024)
                БІЛАН Володимир Іванович (1993-01.10.2023)
                БІЛИЧ Віталій (02.1982-31.01.2016)
                БОЙКО Євген Анатолійович (06.06.1982-20.01.2023)
                БОБИР Віктор Володимирович (14.10.1978-31.03.2023)
                БОБІРЕНКО Віктор Григорович (22.10.1984-22.11.2023)
                БОВКУН Андрій Володимирович (31.01.1991-27.04.2023)
                БОНДАР Михайло Семенович (1974-30.01.2024)
                БОНЧЕВ Дмитро Сергійович (12.04.1990-21.12.2023)
                БУГАЙ Антон Васильович (1999-14.03.2023)
                БУГАЙ ОЛЕГ Іванович (04.09.1971-17.09.2022)
                БУЄВИЧ-СИСОЄВ Микола Миколайович (25.10.1971-15.05.2024)
                БУТКО Роман Анатолійович (13.03.1990-02.10.2022)
                БУР’ЯН Віталій Михайлович (23.10.1989-05.12.2023)
                БУЯКІН Олег Віталійович (20.09.1996-03.06.2023)
                ВАСИЛЕНКО Валерій Григорович ( 21.01.1976-13.01.2023) .
                ВАСИЛЮК Денис Олександрович (17.01.1993 - 17.05.2024)
                ВАСИЛЬЧЕНКО Костянтин Миколайович (07.09.1986-18.06.2022)
                ВАХНЕВСЬКИЙ Руслан Іванович (05.10.1984-02.07.2022) .
                ВЕРХОВСЬКИЙ Назар Володимирович (30.05.1998-19.04.2023)
                ВЕРЕТА Леонід Васильович (01.11.1982-06.08.2022)
                ВЛАСЕНКО Юрій Володимирович (12.02.1993-14.04.2023)
                ВОЗНЮК Олександр Олегович (12.01.1992-02.03.2017)
                ВОЙТЕР Сергій Віталійович (13.03.1973-26.08.2017)
                ВОЛИК Микола Олексійович (17.12.1980-20.05.2023)
                ВОЛКОВ Віталій Станіславович (19.10.1974-19.09.2022) .
                ВОЛОВІЧЕНКО Володимир Юрійович (16.08.1999-21.01.2024)
                ВОТА Ігор Сергійович (13.05.1990-31.10.2022)
                ГАВРИЛЕНКО Сергій Віталійович (28.04.1983-28.12.2023)
                ГАВРИЛКО Дмитро Григорович (16.01.1977-02.10.2022)
                ГАВРИЛЯК Володимир Миколайович (18.10.1984-04.11.2023)
                ГАДЛЕВСЬКИЙ Володимир Володимирович (07.07.1986-21.04.2014)
                ГАЙДАР Іван Васильович (19.11.1990-06.05.2023)
                ГАЙТЕРОВ Дмитро Олегович (07.06.1990-25.10.2022)
                ГАЛУШКО Сергій Михайлович (05.02.1985-09.01.2024)
                ГАЛАТ Андрій Іванович  (1982-31.03.2024)
                ГАНЖЕНКО Артем Олексійович (09.05.1996-26.07.2022)
                ГЕРАСИМОВ Сергій Сергійович (1978-02.07.2022)
                ГЕТМАНОВ Олександр Сергійович (17.08.1984-28.03.2024)
                ГИРА В'ячеслав Григорович (28.05.1999-03.12.2023)
                ГЛАДИШ Юрій Анатолійович (2000-01.04.2023)
                ГНАТЕНКО Анатолій Олександрович (13.07.1976-21.11.2014)
                ГОКОВ Сергій Вікторович (25.01.1997-30.03.2022)
                ГОЛОВКО Володимир Володимирович (13.10.1970-13.10.2023)
                ГОЛУБ Володимир Володимирович (24.09.1973-02.03.2023)
                ГОНЧАРЕНКО Олександр Григорович (12.06.1976-07.04.2024)
                ГОРБАНЬ Микола Васильович (16.03.1994-23.01.2023)
                ГОРОДНІЧЕНКО Віктор Анатолійович (19.02.1996-08.05.2022)
                ГОРОДНІЧЕНКО Микола Анатолійович (    - 08.01.2024)
                ГОРЮНОВ Олег Юрійович (21.01.1994 – 05.04.2024)
                ГРЕЧИХИН Владислав Станіславович (08.06.1997-12.07.2022)
                ГРИЩЕНКО Роман Миколайович (27.05.1984-27.10.2023)
                ГУБАНЬОВ Юрій Юрійович (16.11.1998-15.09.2022)
                ГУСЄВ Роман Сергійович (24.05.1981-26.05.2024)
                ДАМРІН Ігор Володимирович (01.06.1988-27.03.2024)
                ДАЦЕНКО Олександр Михайлович (08.08.1983-20.05.2024)
                ДЕЙКАЛО Сергій Володимирович (20.09.1989-26.02.2023)
                ДЕМИДЕНКО Іван Валерійович (29.11.1998-09.02.2023)
                ДЕМИДЕНКО Максим (2003-23.01.2023)
                ДЕМЧИК Руслан Васильович (14.10.1974-16.03.2024)
                ДЕРЕВ'ЯНКО Олег Володимирович (30.09.201985 – 25.06.2023)
                ДЕРКАЧ Віталій Анатолійович (05.06.1974-01.11.2023)
                ДЗИНА Андрій Іванович (04.12.1974-13.11.2023)
                ДМИТРЕНКО Віталій (1990-09.09.2014)
                ДОВГІНКА Олександр Іванович (14.12.1986-18.04.2024)
                ДОРОЖКО Максим Сергійович (11.02.1998-01.11.2022)
                ДОРОШЕНКО Сергій Віталійович (29.05.1986-12.07.2023)
                ДРОБІТ Микола Павлович (27.11.1996-21.08.2022)
                ДРЮЧЕВСЬКИЙ Артур Якович (1998-13.03.2023)
                ЄЛІСЄЄВ Олександр Олександрович (16.02.2000-08.10.2022)
                ЄФРЕМОВ Віталій Іванович (07.03.1983-04.01.2024)
                ЖДАНОВ Микола Володимирович (17.12.1979-30.11.2023)
                ЖЕЛІЗНЯК Анатолій Анатолійович (01.03.1980-15.02.2023)
                ЖИМЕЛА Віктор Васильович (12.10.1974-26.02.2024)
                ЗАДОРОЖНЮК Дмитро Ігоревич (24.04.1995-07.05.2022)
                ЗАЄЦЬ Сергій Вікторович (17.07.1978-15.05.2023)
                ЗАКАБЛУК Ігор Сергійович (23.11.1991-21.07.2023)
                ЗАКАБЛУК Тимофій Валерійович (1996-13.07.2022)
                ЗАХАРЧЕНКО Олександр Миколайович (09.09.1978-07.12.2023)
                ЗАЯРА Руслан Володимирович (05.02.1980-17.05.2023)
                ЗІНЧЕНКО Віталій Віталійович (13.02.1995-05.05.2022)
                ЗІНЧЕНКО Максим Васильович (02.04.1989-30.10.2022)
                ЗІНЧЕНКО Максим Юрійович (27.01.1997-06.06.2022)
                ЗУБКО Роман Вікторович (09.05.1993-22.11.2022)
                ЗУБЧЕНКО Олександр Миколайович (04.06.1990-10.12.2017)
                ІВАНОВ Віталій Вячсеславович (29.07.1999-14.12.2022)
                ІВАЩЕНКО Іван Іванович (27.07.1983-25.06.2023)
                ІЛЛЯШЕНКО Віктор Володимирович (13.12.1984-29.08.2014)
            </div>
            <div class="scrolling-text">
                ІЛЬЧЕНКО Сергій Анатолійович  (03.09.1975-13.09.2015) .
                ІЩЕНКО Руслан Анатолійович (09.08.1990-15.06.2023)
                ЙОЩЕНКО Дмитро Валерійович (01.06.1996-30.09.2023)
                ЛЕБЕДЕНКО Іван Анатолійович (20.07.1976-25.01.2015)
                ЛЕБІДЬ Костянтин Юрійович (06.02.1991-02.12.2023)
                ЛЕНДА Вадим Григорович (14.12.1985-10.06.2024)
                ЛЕНЬ Сергій (01.08.1982-05.09.2023)
                ЛЕЩЕНКО Володимир Сергійович (14.07.1982-15.08.2023)
                ЛИСАК Анатолій Васильович (19.10.1970-14.06.2023)
                ЛИННИК Олександр Анатолійович (28.04.1987-29.07.2023)
                ЛИСЕНКО Вадим Леонідович (08.10.1968-13.11.2022)
                ЛИСЕНКО Олександр Володимирович (06.09.1983-28.11.2022)
                ЛИТВИНОВСЬКИЙ Роман Анатолійович (29.10.1996-29.07.2023)
                ЛІСНЕНКО Сергій Володимирович (01.11.1988-13.08.2022)
                ЛОЗІНОВ Роман Олександрович (05.05.1982-19.10.2022)
                ЛУКАШ Володимир Борисович (18.05.1969-01.03.2024)
                ЛУКАШ Сергій Миколайович (16.11.1997-21.07.2022)
                ЛУКАШ Олексій Григорович (08.07.1972-06.09.2022)
                ЛУЦАЙ Андрій Сергійович (04.01.1986-14.01.2023)
                ЛЯШ Роман Васильович (22.02.1977-01.06.2022)
                МАКУХА Геннадій Миколайович (28.08.1979-20.03.2022)
                МАКУХА Олександр Анатолійович (09.08.1981-17.04.2023)
                МАЛИШКО Роман Вікторович (15.06.1996-23.01.2023)
                МАЛОВІЧКО Олександр Анатолійович (09.04.1980-16.09.2023)
                МАЛОВІЧКО Олександр Іванович (25.05.1976-28.01.2023)
                МАНДРИКА Костянтин Олександрович (25.10.1988-02.07.2022)
                МАТІЙЧУК Олександр Сергійович (01.08.1990-09.11.2014)
                МАРТИНЕНКО Сергій Сергійович (27.09.1983-07.09.2023)
                МАРЬЄНКОВ Сергій Сергійович (15.08.1996-12.02.2023)
                МАТВІЄНКО Дмитро Борисович (13.05.1981-23.01.2023)
                МЕТАШОК Станіслав Васильович (18.07.1999-28.07.2023)
                МЕЄР Роман Олександрович (19.12.1988-18.12.2023)
                МЕТЕЛІН Костянтин Сергійович (04.01.1978-07.11.2023)
                МИХАЙЛЕНКО Роман Анатолійович (03.01.1999-11.03.2024)
                МОГИЛА Олег Вікторович (15.06.1979-07.01.2024)
                МОСТОВИЙ Григорій Іванович (19.02.1972-09.02.2023)
                НАДУТІК Богдан Петрович (17.12.1974-08.01.2023)
                НАЗАРЕВИЧ Михайло Миколайович (15.10.1988-01.06.2024)
                НАЗАРЕНКО Сергій Станіславович (15.01.1975-08.06.2023)
                НАЗДРАЧОВ Олег Миколайович (26.03.1974-29.01.2024)
                НАУМЕНКО Олександр Анатолійович (1975-06.2022)
                НЕВМЕРЖИЦЬКИЙ Олександр Костянтинович (02.04.1987-07.10.2022)
                НЕПОМ'ЯЩИЙ Роман Вікторович (31.12.2002-07.08.2023)
                НЕРУБЕНКО Олександр Олександрович (09.06.1998-29.08.2022)
                НИКОНЕНКО Сергій Григорович (21.12.1962-18.01.2015)
                НИКОНЕНКО Ярослава Сергіївна (25.08.1983-15.10.2019)
                НОВАКОВЕЦЬ Володимир Олександрович (13.04.2001-20.03.2022)
                НОВИНСЬКИЙ Владислав Валерійович (23.01.1994-30.01.2015) .
                КАЛІНІЧЕНКО Вадим Миколайович (12.07.1980 – 20.04.2024)
                КАРБАН Анатолій Євгенович (24.05.1967-12.04.2023)
                КАПУСТІН Володимир Олександрович (14.02.1986-18.09.2023)
                КВАША Сергій Олександрович (14.09.1975-30.08.2022)
                КВІЛІНСЬКИЙ Ян Владиславович (27.02.1989-23.01.2024)
                КИВА Дмитро Петрович  (19.12.1985-12.10.2022) .
                КИЛЬОЖЕНКО Валерій Васильович (15.02.1996-13.07.2023)
                КИРИЛЮК Денис Миколайович (14.03.1990-27.03.2023) .
                КИРКУШ Іван Васильович (27.11.1997-12.01.2023)
                КИШКО Олександр Віталійович (1980-18.03.2023)
                КОБЗІЙ Іван Іванович (03.12.1978-23.01.2023)
                КОБЗІЙ Сергій Миколайович (13.06.1981-17.05.2022)
                КОВАЛЕНКО Андрій Іванович (29.09.1980-18.05.2022)
                КОВАЛЕНКО Олег Миколайович (05.02.1980-16.02.2016)
                КОВАЛЬ Сергій Миколайович (01.09.1972-11.05.2024)
                КОВТУН Олександр Іванович (09.03.1981-08.03.2024)
                КОВТУН Олександр Костянтинович (27.04.1979-17.08.2016) . 
                КОЗАЧЕНКО Олександр Миколайович (21.09.1982-16.05.2023)
                КОЗИНЕЦЬ Віталій Володимирович (22.10.1992-15.06.2023)
                КОЗИНЯК Андрій Юрійович (12.08.1988-05.06.2023)
                КОЛІСНИК Микола Миколайович (13.06.1967-10.03.2024)
                КОЛОГРИВИЙ Олександр Олександрович  (06.08.1994-07.07.2022)
                КОЛОДНИЙ Сергій Миколайович (19.05.1970-04.05.2023)
                КОЛОДНИЙ Володимир Анатолійович (13.11.1970-16.01.2023)
                КОРНІЙКО Олександр Сергійович (20.08.1994-16.02.2022)
                КОРПАНЬ Олександр Григорович (02.02.1996-28.11.2022)
                КОРЧОМАХА Василь Григорович (10.10.1987-26.11.2022)
                КОРЯК Дмитро Володимирович (25.04.1989-11.02.2015) .
                КОСТЕНКО Костянтин Костянтинович (17.08.1985-14.05.2023)
                КОСТЄВ Юрій Владиславович (27.07.1991-29.11.2023)
                КОЧЕРГА Юрій Миколайович (14.01.1967-17.10.2023)
                КРАВЧЕНКО Юрій Володимирович (12.06.1984-22.08.2023)
                КРАВЧУК Віталій Васильович (15.05.1983-01.12.2022)
                КРЕНЬКО Сергій Іванович (1977-21.05.2024)
                КРИВКО Олександр Володимирович (14.10.1982-11.09.2022)
                КРИВОБОК Володимир Іванович (27.03.1971-14.09.2022)
                КРИВОНІС Ярослава Василівна (1993-01.03.2022)
                КРАСНОПІР Ярослав Вікторович  (02.07.1992-13.11.2022)
                КРУШЕЛЬНИЦЬКИЙ Володимир Романович (29.12.1986-23.06.2023)
                КУЗНЄЦОВ Олександр Васильович (26.12.1998-23.03.2022)
                КУЛИНИЧ Максим Вадимович (23.09.2001-20.11.2022)
                КУЛЯГІН Андрій Олександрович (1993-21.07.2014) . .
                КУРИЛЕНКО Олександр Вікторович (02.01.1978-25.04.2022)
                КУРІНЕВСЬКИЙ Валентин Олександрович  (05.07.1986-25.12.2022)
                КУЦЕНКО Микола Олегович (23.09.1992-27.07.2014) . .
                КУЧІН Максим Володимирович (25.10.1975-06.11.2014) .
                ОКСАНЧЕНКО Олександр Якович (26.04.1968-25.02.2022) .
                ОЛЕНІН Андрій Юрійович (05.12.2000-07.05.2022)
                ОЛЕЩУК Сергій Анатолійович (18.07.1993-26.01.2024)
                ОЛІЙНИК Анатолій Сергійович (09.10.1988-17.01.2023)
                ОЛЬШАНСЬКИЙ Ростислав Олегович (23.03.1998-11.05.2023)
                ОМЕЛЯНЕНКО Віктор Васильович (1974-21.09.2023)
                ОМЕЛЯНЕНКО Владислав Григорович (28.07.1993-25.03.2022) .
            </div>
            <div class="scrolling-text">
                ОНУПКО Геннадій Дмитрович (31.10.1973- 21.04.2023)
                ОПАЛЬКО Руслан Петрович (17.03.1980-29.10.2023)
                ОСТАПЕНКО Олег Петрович (18.01.1977-06.09.2022)
                ОХОТА Олексій Миколайович (30.11.1975-07.07.2023)
                ОШЕКА Максим Петрович (14.10.1991-16.10.2014) .
                ОШИЄВСЬКИЙ Євгеній Вікторович (12.08.1973-07.03.2024)
                ОШУРКО Михайло Дмитрович (1977-18.10.2022)
                ПАВЛЕНКО Владислав Володимирович (06.03.2003-21.03.2024)
                ПАДАЛКА Сергій Юрійович (17.06.1986-30.08.2022)
                ПАЛЯНИЦЯ Роман Петрович (16.07.1986-05.05.2023)
                ПАНКОВ Володимир Володимирович (26.10.1998-18.03.2023)
                ПАНЧЕНКО Віктор Іванович (19.06.1984-19.02.2023)
                ПАРАКА Богдан Миколайович (01.03.1999-25.03.2022)
                ПАСТУХ Сергій Анатолійович (24.08.1982-28.11.2022)
                ПАСЮРА Віталій Васильович (20.02.2000-18.03.2023) .
                ПАСЬКО Ігор Миколайович (04.06.1969-09.03.2022)
                ПАШ Іван Іванович (1976-20.07.2022)
                ПЕДОРИЧ Олексій Вікторович (29.12.1985-02.10.2022)
                ПЕЛИХ Микола Григорович (18.05.1999-16.02.2023)
                ПЕРЕПЕЛЯТНИК Олег Миколайович  (01.12.1979-16.03.2016) .
                ПИРОГОВ Сергій Володимирович (14.09.1980-02.04.2024)
                ПИСАРЕНКО Станіслав Васильович (15.07.1986-16.05.2024)
                ПІВЕНЬ Олег Іванович  (25.01.1992-21.03.2023)
                ПЕРЕВАРУХА Іван Анатолійович (04.06.1998-18.04.2023)
                ПЛОХАНЬ Микола Леонідович (26.04.1993-02.03.2023)
                ПОДОЛЯКА В’ячеслав Петрович (21.12.1991-13.08.2023)
                ПОЛІСТРАНТ Володимир Миколайович ( 17.08.2001-20.01.2023)
                ПОЛОЖІЙ Назар Іванович (07.04.2000-09.05.2022)
                ПОЛТАВА Віталій Васильович (09.08.1971-19.01.2024)
                ПОНОМАРЕНКО Олександр Васильович (15.11.1986-04.12.2014) .
                ПОПИК Максим Миколайович (24.06.1983-27.08.2023)
                ПОТАПЕНКО Віталій Анатолійович  (10.01.1997-07.06.2022)
                ПРИХОДЬКО Олег Олександрович (14.09.1995-10.11.2022) .
                ПРУДІЙ Микола Васильович (22.05.1995-16.08.2014) .
                ПУНКІН Олег Анатолійович (27.05.1989-25.01.2024)
                П'ЯТНИЦЯ Юрій Сергійович (02.04.1990-07.03.2022)
                РАДЧУК Сергій Олександрович (24.12.2000-24.02.2023)
                РЕВЕНКО Владислав Дмитрович (07.02.1995-24.02.2022)
                РИБАЛКО Микола Вікторович (12.11.1986-15.01.2023)
                РОМЕНСЬКИЙ Олег Григорович (09.04.2002-25.11.2023)
                РУЖИЛЕНКО Олександр Леонідович (1971-12.07.2022) .
                РЯБКО Роман Володимирович (24.03.1988-24.02.2022)
                САЛО Анатолій Іванович (18.07.1973-08.01.2024)
                САМОЙЛЕНКО Костянтин Михайлович (1982-27.12.2023)
                СВИРИДОВ Анатолій Анатолійович (23.02.1977-24.10.2022)
                СВИЩ Ігор Петрович (09.11.1973-06.11.2022) .
                СИДОРЕНКО Сергій Володимирович (16.01.1980-04.12.2023)
                СИДОРКА Віталій Миколайович (21.05.1972-15.04.2024)
                СИРОТКІН Олександр Олександрович (09.07.1992-13.03.2023)
                СЕМЕНКО Анатолій Анатолійович (10.03.1981-18.03.2023)
                СЕМЕНЯК Михайло Сергійович (26.12.1986-24.02.2022)
                СІБІЛЬОВ Володимир Сергійович (12.10.1988-15.02.2023)
                СІМПІРОВИЧ Микола Іванович (30.01.1972-30.07.2022)
                СІНЕЛЬНИК Олександр Григорович (07.07.1972-14.12.2022)
                СІНІЧЕНКО Ярослав Сергійович (17.07.1990-17.04.2022)
                СКОРОДЕНКО Віктор Андрійович (12.10.1968-21.01.2023)
                СКРИБЧЕНКО Сергій Миколайович (23.06.1998-17.11.2022)
                СЛИВА Володимир Миколайович (24.07.1988-31.03.2024)
                СЛИВА Олег Анатолійович (17.02.1983-14.11.2023)
                СМИРНОВ Анатолій Михайлович (21.08.1981-15.09.2022) .
                СОЛОВЕЙ Ігор Станіславович (29.06.1997-31.10.2023)
                СПОДЕНЕЙКО Віталій Сергійович (20.05.1990-29.01.2023)
                СТЕПАНЬКО Олександр Миколайович (20.10.1988-16.04.2022) .
                СТЕЦИК Артур Сергійович  (1988-21.07.2022) .
                СТРУЦЬКИЙ Євген Олександрович (04.02.1992-06.06.2023)
                СКОТАР Володимир Антонович (21.06.1964-29.08.2023)
                СУХОДОЛЬСЬКИЙ Олександр Володимирович (1994-23.06.2022)
                СУХОМЛИН Анатолій Миколайович (31.05.1985-18.01.2023)
                СУШКОВ Віктор Олександрович (15.08.1991-20.03.2022)
                ТАРАБАН Іван Миколайович (01.09.1982-15.10.2022)
                ТАРАН Олександр Володимирович (30.04.1996-17.11.2023)
                ТАРАСЕНКО Олександр Миколайович (20.02.1977-09.06.2015)
                ТЕРНО Юрій Олександрович (03.06.1988-05.08.2023)
                ТИКВА Олександр Васильович (2000-10.11.2023)
                ТИМОШЕНКО Юрій Григорович (14.08.1979-30.05.2022)
                ТИНДИК Володимир Павлович (22.07.1978-06.07.2023)
                ТИХОНЕНКО Олександр Іванович (10.09.1991-20.01.2023)
                ТИЩЕНКО Володимир Анатолійович (16.04.1997-27.04.2022) .
                ТИЩЕНКО Ігор Васильович (07.07.1975-10.10.2023)
                ТИЩЕНКО Сергій Олександрович (1984-03.07.2023)
                ТКАЧЕНКО Сергій Сергійович (1984-08.11.2022)
                ТРОНЬКО Руслан Миколайович (20.10.1981-26.10.2015)
                ТРОЯН Олександр Вікторович (13.07.1991-21.02.2023)
                ТРУШ Володимир Валерійович (20.11.1980-30.10.2023)
                ТУЛІНОВ Віктор Владіславович (1975-07.09.2022)
                ТУР Віталій Григорович (26.09.1985-18.07.2022)
                ТУРБАБА Володимир Павлович (17.10.1971-02.03.2024)
                ТУТКО Олександр Сергійович (16.07.1985-17.01.2023)
                УДОВИЧЕНКО Сергій Віталійович (10.08.1989-24.06.2022)
                УСИК Сергій Валерійович (03.05.1984-09.04.2023)
                ФЕДОРЕНКО Олександр Вікторович (10.08.1968-04.05.2024)
                ФЕДОРЧЕНКО Олександр Іванович (09.12.1974-25.03.2023)
                ФЕДОРЯКА Петро Вікторович (15.09.1964-31.07.2014)
                ФЕДЬКО Володимир Іванович (1973-04.03.2023)
                ФЕСЕНКО Володимир Григорович (1969-26.08.2022)
                ФЕСЕНКО Максим Юрійович (1987-15.05.2022)
                ФЕЩУК Максим Васильович (23.09.1982-02.11.2023)
                ФІГЕЛЬ Руслан Миколайович (20.06.1989-03.05.2024)
                ФІШЕР Дмитро Вільгельмович (08.03.1973-05.06.2022)
                ФУГЛЬ Павло Сергійович (1994-17.12.2022)
                ФУГОЛЬ Микола Олександрович (23.04.1995-31.03.2024) 
            </div>
            <div class="scrolling-text">
                ХАЛІКОВ Георгій Журович (24.03.1970-26.10.2021)
                ХАРЧЕНКО Віктор Борисович (1978-16.10.2022)
                ХАРЧЕНКО Костянтин Володимирович (31.05.1977-10.03.2024)
                ХІЛЬЧЕНКО Денис Миколайович (11.04.1974-04.08.2022)
                ХІТАЙЛОВ Максим Євгенійович (07.10.1997-18.02.2020)
                ХОМЕНКО Євген Юрійович (06.08.1986-01.03.2024)
                ХОМЕНКО Микола Володимирович (13.04.1968-14.10.2023)
                ХОЖІЙ Іван Миколайович (21.10.1977-25.10.2022)
                ЦИСЬ Олександр Миколайович  (04.09.1982-21.10.2023)
                ЦАЛКО Микола Олександрович (06.06.2000-26.03.2022)
                ЧЕРНЕНКО Дмитро Володимирович (17.11.1990-06.12.2023)
                ЧЕРНИШОВА Юлія Олександрівна (24.12.1990-15.10.2023)
                ЧОРНЯК Юрій Володимирович (23.11.1978-10.12.2022)
                ЧЕХ Дмитро Леонідович (24.02.1984-25.12.2023)
                ЧОБАНУ Степан Іванович (21.12.1963-28.08.2022) .
                ЧУРІКОВ Валентин Миколайович (17.05.1991-06.04.2016) .
                ШАБАЛІН Артем Ігоревич (18.06.1996-01.02.2023)
                ШАМАРІН Богдан Петрович (06.09.1994-11.03.2022)
                ШВАЦЬКИЙ Геннадій (09.06.1982-23.05.2015)
                ШЕВЧЕНКО Вадим Миколайович (1975-15.06.2023)
                ШЕВЧЕНКО Володимир Юрійович (28.11.1983-09.01.2023)
                ШЕВЧЕНКО Віктор Вячеславович (22.03.1997-10.08.2023)
                ШЕВЧЕНКО Віталій Володимирович (09.08.1991-12.04.2023)
                ШЕПТУН Анатолій Іванович (14.01.1965-23.01.2023)
                ШИКІТА Станіслав Миколайович (19.09.1979-18.01.2023)
                ШИНКАРЕНКО Микола Вікторович (21.05.1986-05.02.2023)
                ШМИГА Андрій Володимирович (16.07.1978-17.04.2023)
                ШУБА Олександр Олександрович (04.01.1980-15.03.2022)
                ШУЛЬГІН Володимир Миколайович (29.04.1971-10.03.2022)
                ШУМЕЙКО Іван Вікторович (05.10.1992-22.12.2023)
                ШУМЕЙКО Сергій Володимирович (01.06.1972-27.09.2023)
                ШУМОВ Вадим Юрійович (28.03.1976-07.08.2023)
                ШУПИК Олександр Іванович (06.02.1964-29.01.2024)
                ЩЕРБАНЬ Ігор Борисович (24.04.1969-26.06.2016) .
                ЮРЧЕНКО Іван Сергійович (14.12.1984-20.09.2023)
                ЮРЧЕНКО Євгеній Сергійович (28.09.1997-13.05.2023)
                ЮРЧЕНКО Станіслав Олексійович (04.05.1976-24.01.2023)
                ЯВТУШЕНКО Олег Олександрович (07.02.1997-12.03.2022)
                ЯВТУШЕНКО Олександр Іванович (1970-01.11.2022)
                ЯВТУШЕНКО Сергій Ілліч (1970-02.02.2023)
                ЯКИМЕНКО Дмитро Борисович (23.02.1996-27.04.2024)
                ЯКИМЕНКО Ігор Миколайович (27.08.1971-20.10.2023)
                ЯРЕСЬКО Роман Вікторович (19.06.1997-09.02.2023)
                АБДУСАЛЯМОВ Рустам Самігулайович (11.10.1977-01.07.2023) .
                АНДРУЩЕНКО Ігор Олександрович (03.05.1988-21.08.2022)
                АРМАШ Сергій Іванович (21.10.1990-19.04.2024)
                АФАНАСЕНКО Костянтин Євгенович (29.04.1989-25.03.2023)
                БАБЕНКО Олег Сергійович (10.06.1994-28.12.2022)
                БАБИЧ Олег Миколайович (1998-26.03.2022)
                БАКРЕВ Юрій Васильович (26.01.1982-05.11.2023)
                БАНДУРКО Валерій Анатолійович (27.02.1986-30.01.2024)
                БАРАБАШ Роман Миколайович (16.02.1979-14.07.2022)
                БАРДІН Максим  Володимирович (26.04.1994-17.07.2023)
                БАРИЛО Валентин Володимирович (1975-31.07.2023)
                БЕЗДУДНИЙ Владислав Віталійович (16.09.1996-30.08.2023)
                БЕЗНІС Валерій Юрійович  (09.11.1987-30.09.2022) .
                БЕРЕЖНИЙ Вячеслав Миколайович (19.04.1977 - 09.05.2024)
                БІЛАН Володимир Іванович (1993-01.10.2023)
                БІЛИЧ Віталій (02.1982-31.01.2016)
                БОЙКО Євген Анатолійович (06.06.1982-20.01.2023)
                БОБИР Віктор Володимирович (14.10.1978-31.03.2023)
                БОБІРЕНКО Віктор Григорович (22.10.1984-22.11.2023)
                БОВКУН Андрій Володимирович (31.01.1991-27.04.2023)
                БОНДАР Михайло Семенович (1974-30.01.2024)
                БОНЧЕВ Дмитро Сергійович (12.04.1990-21.12.2023)
                БУГАЙ Антон Васильович (1999-14.03.2023)
                БУГАЙ ОЛЕГ Іванович (04.09.1971-17.09.2022)
                БУЄВИЧ-СИСОЄВ Микола Миколайович (25.10.1971-15.05.2024)
                БУТКО Роман Анатолійович (13.03.1990-02.10.2022)
                БУР’ЯН Віталій Михайлович (23.10.1989-05.12.2023)
                БУЯКІН Олег Віталійович (20.09.1996-03.06.2023)
                ВАСИЛЕНКО Валерій Григорович ( 21.01.1976-13.01.2023) .
                ВАСИЛЮК Денис Олександрович (17.01.1993 - 17.05.2024)
                ВАСИЛЬЧЕНКО Костянтин Миколайович (07.09.1986-18.06.2022)
                ВАХНЕВСЬКИЙ Руслан Іванович (05.10.1984-02.07.2022) .
                ВЕРХОВСЬКИЙ Назар Володимирович (30.05.1998-19.04.2023)
                ВЕРЕТА Леонід Васильович (01.11.1982-06.08.2022)
                ВЛАСЕНКО Юрій Володимирович (12.02.1993-14.04.2023)
                ВОЗНЮК Олександр Олегович (12.01.1992-02.03.2017)
                ВОЙТЕР Сергій Віталійович (13.03.1973-26.08.2017)
                ВОЛИК Микола Олексійович (17.12.1980-20.05.2023)
                ВОЛКОВ Віталій Станіславович (19.10.1974-19.09.2022) .
                ВОЛОВІЧЕНКО Володимир Юрійович (16.08.1999-21.01.2024)
                ВОТА Ігор Сергійович (13.05.1990-31.10.2022)
                ГАВРИЛЕНКО Сергій Віталійович (28.04.1983-28.12.2023)
                ГАВРИЛКО Дмитро Григорович (16.01.1977-02.10.2022)
                ГАВРИЛЯК Володимир Миколайович (18.10.1984-04.11.2023)
                ГАДЛЕВСЬКИЙ Володимир Володимирович (07.07.1986-21.04.2014)
                ГАЙДАР Іван Васильович (19.11.1990-06.05.2023)
                ГАЙТЕРОВ Дмитро Олегович (07.06.1990-25.10.2022)
                ГАЛУШКО Сергій Михайлович (05.02.1985-09.01.2024)
                ГАЛАТ Андрій Іванович  (1982-31.03.2024)
                ГАНЖЕНКО Артем Олексійович (09.05.1996-26.07.2022)
                ГЕРАСИМОВ Сергій Сергійович (1978-02.07.2022)
                ГЕТМАНОВ Олександр Сергійович (17.08.1984-28.03.2024)
                ГИРА В'ячеслав Григорович (28.05.1999-03.12.2023)
                ГЛАДИШ Юрій Анатолійович (2000-01.04.2023)
                ГНАТЕНКО Анатолій Олександрович (13.07.1976-21.11.2014)
                ГОКОВ Сергій Вікторович (25.01.1997-30.03.2022)
                ГОЛОВКО Володимир Володимирович (13.10.1970-13.10.2023)
                ГОЛУБ Володимир Володимирович (24.09.1973-02.03.2023)
            </div>
        </div>

        <div class="books">
            <img src="static/books_photo.png" alt="Error: image not found">
            <h1>ВІДЧУЙ БІЛЬ ВІЙНИ</h1>
            <p>Книги та фільми про війну в Україні - безжалісні історії людей, які показують криваві сцени масових убивств та зґвалтувань, де російські війська залишили після себе лише згарища та крики відчаю.</p>
        </div>

        <div class="text">
            <img src="static/white_background_backwards.png" alt="Error: image not found">
            <p class="p1">Україна документує кожен воєнний злочин Росії. Кожне вбивство, кожна катівня, кожен зруйнований дім — усе це стане доказом у міжнародному суді.<br><br>Настане день, коли винні — від тих, хто віддавав накази, до тих, хто їх виконував — понесуть покарання. Жодна країна не стане для них прихистком.<br><br>Це не пробачиться.<br><br>Це не забудеться.</p>
            <h5>Росія відповість за кожен свій злочин.</h5>
        </div>

        <div class="fund" id="fund-main">
            <img src="static/warriors.png" alt="Error: image not found" class="hero-image">

            <div class="content-overlay">
                <div class="title-box">
                    <h1 class="main-title">ОФІЦІЙНА ФАНДРЕЙЗИНГОВА ПЛАТФОРМА УКРАЇНИ</h1>
                </div>
                
                <div class="buttons">
                    <a href="https://savelife.in.ua/en/donate-en/#donate-army-card-once" class="donate-button">Пожертвувати зараз</a>
                    <a href="https://www.president.gov.ua/en/news/all" class="news-button">Дивитися новини</a>
                </div>
            </div>
        </div>

    </main>
</body>
</html>
