<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Особистий кабінет</title>
    <link rel="stylesheet" href="static/profile.css">
</head>
<body>
    <div class="navigation">
        <h3><a href="{{ url_for('home_page') }}" class="action-button">Повернутися на головну сторінку</h3></a>
    </div>
    <!-- <a href="login.html" class="home-button">
        <img src="home-icon.svg" alt="Home Icon">
    </a> -->

    <div class="profile-container">
        <div class="profile-header">
            <!-- <img src="profile-icon.svg" alt="Profile Icon" class="profile-icon"> -->
        </div>
        <div class="profile-box">
            <h1>Персональний кабінет</h1>
            <div class="profile-info">
                <div class="info-row">
                    <span class="info-label">Ім'я</span>
                    <span>{{ user_data['name'] }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Прізвище</span>
                    <span>{{ user_data['surname'] }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Електронна пошта</span>
                    <span>{{ user_data['email'] }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Телефон</span>
                    <span>{{ user_data['phone'] }}</span>
                </div>
                <div class="info-row">
                    <span class="info-label">Локація</span>
                    <span>{{ user_data['location'] }}</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
